In [23]:
# Variavles
a =1
print(a)
b="harry"
haRRY =9
c=haRRY
print(b)
print(c)
d = True
print(d)
c = None # in python None = NULL
print(c)
print("the type of a is ", type(a))
print("the type of a is ", type(b))
print("the type of a is ", type(c))
print("the type of a is ", type(d))
e = 8.8
f = complex(0,0)
print("the type of a is ", type(e))
print("the type of a is ", type(f))
# in python eveything is object , therefore integer is a object of int class

1
harry
9
True
None
the type of a is  <class 'int'>
the type of a is  <class 'str'>
the type of a is  <class 'NoneType'>
the type of a is  <class 'bool'>
the type of a is  <class 'float'>
the type of a is  <class 'complex'>

In [13]:
a = 1
a1 = 3
print(a+a1)

4

In [21]:
# sequence data : list and tuple
# list : ordered collection of data with elements separated by comma and enclosed within square brackets. Are mutable & and can be modified after creation
list1 = [2,4.5,[-4,5],["apple" ,"banana"]]
print(list1)

# tuple : ordered collection of data, separated by comma and enclosed within parenthesis , but are immutable and cannot be modified after creation.
tuple1 = (2,4.5,(-4,5),("apple" ,"banana"))
print(tuple1)

[2, 4.5, [-4, 5], ['apple', 'banana']]
(2, 4.5, (-4, 5), ('apple', 'banana'))

In [22]:
# mapped data : dictionary (dict)
# dict : a dictionary is an unordered collection of data containing a key:value pairs are enclosed with curly brackets
dict1 = {"name":"sakshi","age":34,"canVote":True}
print(dict1)

{'name': 'sakshi', 'age': 34, 'canVote': True}